{erl_opts, []}.

{deps, [
   datum,
   getopt,

   {knet, ".*",
      {git, "https://github.com/fogfish/knet", {branch, 'release-3'}}
   },

   {clue, ".*",
      {git, "https://github.com/fogfish/clue", {branch, master}}
   }
]}.

%%
%%
{escript_main_app       , socat}.
{escript_emu_args       , "%%! -smp -sbt ts +A10 +K true\n"}.
{escript_incl_apps      , [datum, feta, getopt, htcodec, htstream, jsx, knet, pipe]}.

